$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px

$warmblack: #525252;
$lighterblack: #252422;
$soft: #fbc770;
$warmwhite: #f7f7f2;
$blue1: #036474;
$greytext: #f0f0f0;
$greybackground: #f9f9f9;
$warmgreen: #d3e37b;

.Body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 80vh;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    flex-direction: column;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px, 10px/16px (browser default) = 62.5% */
}
