@import "Body";

.friendMain-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    padding-top: 2rem;
    width: 100%;
    min-height: 100%;
  }
}

.friendMain-heading {
  font-size: 22pt;
  padding: 1rem 0;
  text-decoration: underline;
  animation-name: fontChange;
  animation-duration: 1s;

  animation-iteration-count: infinite;
  animation-direction: alternate;

  @media only screen and (max-width: $bp-medium) {
    font-size: 16pt;
  }
}

.friendMain-compliments {
  padding: 0.7rem;
  color: $warmblack;

  @media only screen and (max-width: $bp-medium) {
    font-size: 10pt;
    padding: 0.1rem;
  }
}

@keyframes fontChange {
  from {
    color: green;
  }
  to {
    color: $sunny2;
  }
}
