@import "Body";

.Header {
  display: flex;
  padding-top: 50px;

  width: 100%;

  background-color: white;

  @media only screen and (max-width: $bp-medium) {
    height: 16vh;
    padding-top: 20px;
  }
}

.Header,
header {
  align-items: center;
  justify-content: center;
  color: black;
}
