@import "Body";

.MainArea {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    min-height: 100%;
  }

  @media only screen and (max-width: $bp-small) {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    min-height: 100%;
  }
}

.MainArea-Buttons {
  display: flex;
  align-content: flex-end;
}

.button-2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 1rem;

  background-color: $warmgreen;
  color: $warmblack;
  border: none;
  font-size: 8pt;

  border-radius: 3%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 6pt;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 6pt;
  }
}

.button-2:hover {
  background-color: $blue1;
  color: $warmwhite;
}
.Button-Refresh {
  padding-right: 10px;

  @media only screen and (max-width: $bp-medium) {
    font-size: 6pt;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 6pt;
  }
}
