@import "Body";

.MainArea {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    min-height: 100%;
    padding-left: 5rem;
  }

  @media only screen and (max-width: $bp-small) {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    min-height: 100%;
    padding-left: 1rem;
  }
}

.MainArea-Buttons {
  display: flex;
  align-content: flex-end;
}

.button-2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 1rem;
  background-color: $blue1;
  color: $warmwhite;
  margin-right: 1rem;

  border: none;
  font-size: 8pt;

  border-radius: 3%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 6pt;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 6pt;
  }
}

.button-2:hover {
  background-color: $warmgreen;
  color: $warmblack;
}
.Button-Refresh {
  padding-right: 10px;

  @media only screen and (max-width: $bp-medium) {
    font-size: 6pt;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 6pt;
  }
}

.MainAreaInstructions {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    // flex-direction: colu;
    align-content: center;
    align-items: center;

    // width: 90%;
    min-height: 100%;
  }

  @media only screen and (max-width: $bp-small) {
    display: flex;
    // flex-direction: row;
    align-content: center;

    // width: 90%;
    min-height: 100%;
  }
}

.InstructionsHeader {
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 16px;
  padding: 1rem 1rem;
  margin-top: 5rem;
  color: $blue1;

  align-self: flex-start;
  margin-left: 10rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 16px;
    margin-top: 2rem;
    font-weight: 600;
    padding: 0;
    margin-left: 0;
    padding-bottom: 2rem;
    align-self: center;
  }
}

.Instructions {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 1rem 1rem;
  color: $blue1;

  align-self: flex-start;
  margin-left: 10rem;
  text-decoration: none;
  list-style: none;

  @media only screen and (max-width: $bp-medium) {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    padding: 0rem 10rem;
    margin-left: 0;
    align-self: center;
  }
}

.InstructionItem {
  text-decoration: none;
  list-style: none;
  padding: 6px 0;
}
