@import "Body";

.Sidebar {
  display: grid;
  grid-template-rows: 2fr 5fr;
  height: 100vh;
  background-color: white;

  @media only screen and (max-width: $bp-medium) {
    width: 100%;
    display: flex;

    justify-content: space-around;
  }

  @media only screen and (max-width: $bp-small) {
    width: 100%;
    display: flex;

    justify-content: space-around;
  }
}

.Siderbar-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  height: 100%;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    height: 100%;
  }
}

.Siderbar-Container-3d {
  display: flex;
  height: 10%;
}

.Friends-Container {
  // display: flex;
  display: grid;
  grid-template-columns: 0.5fr 10fr;
  justify-self: center;
  height: 100%;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    align-self: center;
    height: 100%;
    width: 20%;
  }
}

.Sidebar-Home {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  width: 100%;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    flex-direction: row;
    font-size: 5px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
    padding-bottom: 0;
  }
}
.Sidebar-Home,
h1 {
  @media only screen and (max-width: $bp-medium) {
    display: flex;
    font-size: 5px;
    justify-content: center;
    align-items: center;

    padding-left: 0;
    padding-bottom: 1rem;
  }

  a:link {
    text-decoration: none;
  }
}

.Friends-Heading {
  display: flex;
  color: $blue1;
  justify-content: center;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;

  padding-left: 5rem;
  padding-bottom: 1rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 10px;
    padding-left: 0;
    font-weight: 200;
    padding-top: 1rem;
    width: 100%;
  }
}

.AddFriends-Text {
  display: flex;
  color: $blue1;
  justify-content: center;
  align-content: center;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;

  // padding-left: 0.5rem;
  padding-bottom: 1rem;

  @media only screen and (max-width: $bp-medium) {
    font-size: 8px;
    color: $blue1;
    padding-left: 0;
    font-weight: 200;
    padding-top: 1rem;
  }
}
.Sidebar-Prompt {
  font-size: 18px;

  padding: 6px;

  margin-bottom: 30px;

  background-color: #6bbf59;
  border: 1px solid #6bbf59;
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #f2f9f0;
  cursor: pointer;
}

.Sidebar-Prompt:hover {
  padding: 6px;
  color: #ffffff;
  background-color: #8ecb7c;
  border: 1px solid #8ecb7c;
  box-shadow: rgba(27, 39, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  text-decoration: none;
  transition-duration: 0.1s;
}

.Sidebar-Input {
  padding: 1rem;

  background-color: $greybackground;
  color: $warmblack;
  font-size: 10pt;
  height: 40%;

  width: 62%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;

  border: solid 2px $greytext;
  border-style: solid;
  border-radius: 3%;
  outline: none;

  -webkit-appearance: none;
  text-decoration: none;

  @media only screen and (max-width: $bp-medium) {
    width: 70%;
    margin-left: 1px;
    margin-bottom: 0;
  }

  @media only screen and (max-width: $bp-small) {
    width: 70%;
    margin-left: 1px;
    margin-bottom: 0;
  }
}

.Sidebar-Input::placeholder {
  color: $warmblack;
  opacity: 1; /* Firefox */
}
.Sidebar-Input:focus {
  color: $warmblack;

  outline: none;
  border: solid 1px $greytext;
  border-style: solid;
  border-radius: 1%;

  text-decoration: none;
  -webkit-appearance: none;
}

.Sidebar-Input-Button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 1rem;
  margin-left: 1rem;
  background-color: $blue1;
  color: $warmwhite;
  border: none;
  font-size: 10pt;

  border-radius: 3%;

  @media only screen and (max-width: $bp-medium) {
    padding-right: 0.5rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding-right: 0.5rem;
  }
}

.Sidebar-Input-Button:hover {
  background-color: $warmgreen;
  color: $warmblack;
}

.Sidebar-Add-Container {
  padding-top: 2rem;

  display: flex;
  flex-direction: row;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $bp-medium) {
    padding-top: 0;
    display: flex;
    padding: 0;

    width: 70%;

    justify-content: center;
    align-items: center;
    align-self: center;
  }

  @media only screen and (max-width: $bp-small) {
    padding-top: 0;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}

.Sidebar-AddFriend {
  margin-bottom: 7px;
  padding-bottom: 10px;

  padding: 10px;
  background-color: rgb(163, 192, 57);
  font-size: 12px;

  border: none;

  overflow: hidden;
  transition: all 0.3s;

  @media only screen and (max-width: $bp-medium) {
    padding: 7px 16px;
    font-size: 12px;
    margin-left: 9px;

    margin-bottom: 0;
  }
}

.Sidebar-AddFriend:focus {
  outline: none;
  background-color: $warmgreen;
}

.Sidebar-Friends {
  padding-top: 1.2rem;
  width: 100%;
  height: 100vh;

  @media only screen and (max-width: $bp-medium) {
    display: flex;

    flex-direction: column;
    height: 100%;

    padding-top: 0;

    align-self: center;
  }
}

.AddFriends-Container {
  display: flex;
  align-self: center;
  height: 100%;
  align-items: flex-start;
  // justify-content: center;

  @media only screen and (max-width: $bp-medium) {
    justify-content: center;
    align-self: center;
  }
}
.AddFriends-Text {
  color: black;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
  }
}

.SidebarNavLink-Active {
  color: $warmgreen;
  text-decoration: none;
  list-style: none;
}

.SidebarFriendLink {
  text-decoration: none;
  list-style: none;
  color: black;
}
.SidebarFriendLink a {
  text-decoration: none;

  list-style: none;
  color: black;
  font-size: 18px;
}

.buttonPromptLink:active .buttonPromptLink {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  text-align: center;

  @media only screen and (max-width: $bp-large) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
    text-align: center;
  }
  @media only screen and (max-width: $bp-small) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
    text-align: center;
  }
}

.buttonPrompt {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  text-align: center;

  justify-content: center;
  align-items: center;
  background-color: $blue1;
  font-size: 12pt;
  cursor: pointer;
  color: $warmwhite;
  border-radius: 3%;
  box-sizing: border-box;
  height: 38px;
  justify-content: center;
  line-height: 24px;

  max-width: 120%;
  padding: 0 45px;

  text-align: center;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  border: none;

  @media only screen and (max-width: $bp-extraLarge) {
    font-size: 10px;
    // font-weight: 500;

    padding: 0 58px;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;

    display: block;
    text-align: center;
    border-radius: 2%;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 10px;

    padding: 0 38px;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;

    display: block;
    text-align: center;
    border-radius: 2%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 12px;
    font-weight: 500;

    padding: 0 230px;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;

    display: block;
    text-align: center;
    border-radius: 2%;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 12px;
    font-weight: 500;

    padding: 0 130px;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;

    display: block;
    text-align: center;
    border-radius: 2%;
  }
}

.buttonPrompt:hover {
  background-color: $warmgreen;
  color: $warmblack;
}

/* Dropdown Button */
.dropbtn {
  background-color: #ffffff;
  fill: $blue1;
  padding-top: 0.001rem;

  font-size: 10px;
  border: none;

  @media only screen and (max-width: $bp-medium) {
    font-size: 5px;
    font-weight: 400;
    padding-top: 0;
    justify-content: center;
    align-self: center;
  }
}

.dropbtnColor {
  fill: $blue1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  color: $blue1;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    font-size: 5px;
    font-weight: 400;
    padding-top: 0;
    justify-content: center;
    align-self: center;
  }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;

  position: absolute;
  background-color: #f1f1f1;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10%;
  align-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;

  @media only screen and (max-width: $bp-medium) {
    margin-top: 2rem;
  }
}

/* Links inside the dropdown */
.dropdown-content a {
  color: $warmblack;
  padding: 10px 10px;
  text-decoration: none;

  display: flex;
  justify-content: center;
  justify-self: center;

  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;

  @media only screen and (max-width: $bp-medium) {
    padding: 5px 5px;
    font-size: 10px;
  }
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: $greybackground;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: $greybackground;
}
